extends layout

block content
	input(type="text" value="Deck Name")
	br
	input(type="text" value="Description")
	#tags(style="border: solid")
		div(style="background-color: blue")
			p music
		div(style="background-color: blue")
			p guitar
		div(style="background-color: green")
			p Add Tag +
	input(type="button" onclick="location.href='/deck/create/cards'" value="Add Cards")