extends layout

mixin deckDiv(data)
	div(style='border-style: solid')
		h3= data 
		br
		button(id='begin') Begin
		br
		button(id='edit') Edit
		button(id='delete') Delete
		
block content
	h1 FlashCard Decks
	p Good morning #{data.userName}!
	div(id='createdDecks')
		h2 Created	
		each deck in data.decks.created
			+deckDiv(deck)
	div(id='favDecks')
		h2 Favorites
		each deck in data.decks.fav
			+deckDiv(deck)
		h2 Discover
		div(style='border-style: solid') 
			input(id='new' type='button' onclick="location.href='/deck/form'" value='New')
	script(src='/scripts/addMultipleListeners.js')
	script.
		var buttonId=[
			'begin',
			'edit',
			'delete'
		];
		var buttonHref=[
			'start',
			'edit',
			'delete'
		];
		addMultipleListeners(
			'click',
			buttonId,
			buttonHref,
			function(href) { location.href=href; }
		);