extends layout

mixin deckDiv(deck)
	div(style='border-style: solid')
		h3 #{deck.name}
		p #{deck.description}
		br
		input(type="button" onclick='location.href=\'/deck/learn/_id/' + deck.refDeck + '\'' value="Begin")
		br
		input(type="button" class="edit" value="Edit")
		input(type="button" class="delete" value="Delete")
		
block content
	h1 FlashCard Decks
	p Good morning #{userName}!
	div(id='createdDecks')
		h2 Learning	
		each deck in decks.learning
			+deckDiv(deck)
	//- div(id='favDecks')
	//- 	h2 Favorites
	//- 	each deck in data.decks.fav
	//- 		+deckDiv(deck)
	//- 	h2 Discover
	div(style='border-style: solid') 
		input(id='new' type='button' onclick="location.href='/deck/form'" value='New')
	script(src='/scripts/addMultipleListeners.js')
	script.
		var buttonId=[
			'edit',
			'delete'
		];
		var buttonHref=[
			'/edit',
			'/delete'
		];
		addMultipleListeners(
			'click',
			buttonId,
			buttonHref,
			(href) => { location.href = href; }
		);