extends layout

block content
	h1(id='h1Text') Flash Cards
	button(class='log') Login
	button(class='logGmail') Login with Gmail
	button(class='sign') Signup

	script(src='/scripts/addMultipleListeners.js')
	script.
		var buttonId=[
			'log',
			'logGmail',
			'sign'
		];  // default button ids
		var buttonHref=[
			'home',
			'home',
			'signup'
		];  // default button location href

		addMultipleListeners(
			'click',
			buttonId,
			buttonHref,
			function(href) { location.href=href }
		);
