extends layout

block content
	for card in decks.created[0].cards
		div(class='card' style='display: none; margin: auto; text-align: center;')
			div(style='display: inline')
				h1= card.question
			div(style='display: none')
				h1= card.answer
	script.
		var decks = document.getElementsByClassName('card');
		
		// randomize order of deck indexes
		var shuffleDeck = [];
		while(shuffleDeck.length < decks.length) {
			var randomNum = Math.ceil(Math.random()*decks.length-1);
			if(shuffleDeck.indexOf(randomNum) > -1) continue;
			shuffleDeck[shuffleDeck.length] = randomNum;
		}

		// map deck cards to their randomized indxes 
		var randomDeck = shuffleDeck.map(function (randomNum) {
			return decks[randomNum];
		});

		// display first card
		randomDeck[0].style.setProperty('display', 'inline');
		var i = 1; // since first card already displayed
		var clicks = 0;

		// show/hide cards in deck
		window.document.addEventListener(
			'click',
			function () {
				if (clicks % 2 == 1) { // even click, move on to next card
					if (i == randomDeck.length) { // last, return home
						location.href='/home';
					} else { // somewhere in the middle
						randomDeck[i-1].style.setProperty('display', 'none');
					}
					randomDeck[i++].style.setProperty('display', 'inline');
				} else { // odd lick, show answer
					randomDeck[i-1].childNodes[1].style.setProperty('display', 'inline');
				}
				clicks++;
			},
			false
		);