extends layout

block content
	for card in userCards
		div(class='card' style='display: none; margin: auto; text-align: center;')
			div(style='display: inline;')
				for question in card.deckCard.question
					h1= question
			div(style='display: none;')
				for answer in card.deckCard.answer
					h1= answer
	div(id='correct' style='height: 100px; width: 100px; background-color: #55AA55; margin: auto; display: none;')
	div(id='incorrect' style='height: 100px; width: 100px; background-color: #D46A6A; margin: auto; display: none;')
	script.
		document.getElementById('correct').addEventListener(
			'click',
			function () {
				console.log('Got it!');
			},
			false
		);
		document.getElementById('incorrect').addEventListener(
			'click',
			function () {
				console.log('Need practice.');
			},
			false
		);
		var cards = document.getElementsByClassName('card');
		
		// randomize order of deck indexes
		var shuffleDeck = [];
		while (shuffleDeck.length < cards.length) {
			var randomNum = Math.ceil(Math.random() * cards.length - 1);
			if (shuffleDeck.indexOf(randomNum) > -1) continue;
			shuffleDeck[shuffleDeck.length] = randomNum;
		}

		// map deck cards to their randomized indxes 
		var randomDeck = shuffleDeck.map((randomNum) => {
			return cards[randomNum];
		});

		// display first card
		randomDeck[0].style.setProperty('display', 'inline');
		var i = 1; // since first card already displayed
		var clicks = 0;

		// show/hide cards in deck
		window.document.addEventListener(
			'click',
			function () {
				if (clicks % 2 == 1) { // even click, hide feedback btn, move on to next card
					document.getElementById('correct').style.setProperty('display', 'none');
					document.getElementById('incorrect').style.setProperty('display', 'none');
					if (i == randomDeck.length) { // last, return home
						location.href='/home';
					} else { // somewhere in the middle
						randomDeck[i-1].style.setProperty('display', 'none');
					}
					randomDeck[i++].style.setProperty('display', 'inline');
				} else { // show answer, display feedback btns
					randomDeck[i-1].childNodes[1].style.setProperty('display', 'inline');
					document.getElementById('correct').style.setProperty('display', 'block');
					document.getElementById('incorrect').style.setProperty('display', 'block');
				}
				clicks++;
			},
			false
		);