extends layout

block content
	h1= decks.created[0].description
	h2 ?
	script.
		window.top.addEventListener(
			'click',
			function () {
				location.href='/deck/learn/card/answer'
			}
		);
	// HANLE ALL CREATION
	//- - iterate over cards
	//- -	 redraw DOM until through deck
